/graph_package/scratch/scratch.py
/data/bronze
/data/silver
/data/gold
.idea/
.vscode/
poetry.lock 
.DS_Store
data/**
*.pyc
*.egg-info
/graph_package/logs/**
debug
.idea
graph_package/src/main_copy.py
graph_package/src/etl/pipeline_test.py
/outputs
/checkpoints/deepdds/*
/checkpoints/rescal/*
graph_package/outputs
/shell_scripts
.env
/graph_package/src/main_playground.py
.venv
*.out