/graph_package/scratch/scratch.py
data/bronze
data/silver
data/gold
data/hetionet
data/features/node_features
data/features/cell_line_features/raw/
data/features/drug_features/
.idea/
.vscode/
poetry.lock 
.DS_Store
*.pyc
*.egg-info
/graph_package/logs/**
debug
.idea
graph_package/src/main_copy.py
graph_package/src/etl/pipeline_test.py
/outputs
/checkpoints/*
graph_package/outputs
/shell_scripts
.env
/graph_package/src/main_playground.py
.venv
*.out
scrapbook.py
graph_package/src/outputs/*
venv
openbabel-openbabel-3-1-1
/graph_package/scratch/old/
/graph_package/scratch/old/
/pca_plots
/model_predictions_hpc
plots/*